/* Generic initialization */
:root {
	font-size: 1rem;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.theme-light {
	--color-bg: rgb(255, 255, 255);
	--color-fg: rgb(48, 48, 48);
	--color-fg-active: rgb(51, 102, 255);
	--color-link: rgb(24, 24, 192);
	--color-link-active: rgb(51, 102, 255);
	--color-scrollbar-fg: rgb(128, 128, 128);
}

.theme-dark {
	--color-bg: rgb(16, 16, 16);
	--color-fg: rgb(192, 192, 192);
	--color-fg-active: rgb(51, 102, 255);
	--color-link: rgb(102, 153, 255);
	--color-link-active: rgb(51, 102, 255);
	--color-scrollbar-fg: rgb(128, 128, 128);
}

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

body {
	background-color: var(--color-bg);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
	background: var(--color-scrollbar-fg);
}

p {
	margin: 0;
	padding: 0;
	color: var(--color-fg);
}

a {
	text-decoration: none;
	color: var(--color-link);
}

a:hover {
	color: var(--color-link-active);
}